.d-section {
  @apply relative;
  @apply min-h-24;
  @apply h-[90svh];
  @apply w-screen;
  @apply left-[calc(-50vw+50%)];
  @apply overflow-hidden;
  @screen 2xl {
    @apply w-[calc(100vw-8px)];
  }
  &:before {
    content: '';
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply right-0;
    @apply bottom-0;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
    z-index: 1;
  }
  &__bg-video {
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply w-full;
    @apply h-full;
    @apply object-cover;
  }
  &__overlay {
    @apply absolute;
    @apply z-10;
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply items-center;
    @apply gap-8;
    @apply w-full;
    @apply bottom-[30%];
    @apply text-white;
    @apply left-[calc(-50vw+50%)];
  }
  &__sub-title {
    @apply text-gray-200;
  }
}
